/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

/* COLOR THEMES */
:root {
  --fuchsia050: #fdf4ff;
  --fuchsia100: #fae8ff;
  --fuchsia200: #f5d0fe;
  --fuchsia300: #f0abfc;
  --fuchsia400: #e879f9;
  --fuchsia500: #d946ef;
  --fuchsia600: #c026d3;
  --fuchsia700: #a21caf;
  --fuchsia800: #86198f;
  --fuchsia900: #701a75;
  --fuchsia950: #4a044e;
  --fuchsia1050: #170118;
  --cyan050: #ecfeff;
  --cyan100: #cffafe;
  --cyan200: #a5f3fc;
  --cyan300: #67e8f9;
  --cyan400: #22d3ee;
  --cyan500: #06b6d4;
  --cyan950: #083344;
  --yellow050: #fefce8;
  --yellow950: #422006;
}

:root,
:root.dark {
  --bg-color: var(--fuchsia1050);
  --color: var(--fuchsia050);
  --button-bg: var(--fuchsia600);
}

:root.light {
  --bg-color: var(var(--fuchsia050));
  --color: var(var(--fuchsia1050));
}

.text-fuchsia500 {
  color: var(--fuchsia500);
}

/* MAIN CSS */
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--color);
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  position: relative;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 8rem 2rem;
  box-sizing: border-box;
  width: 100%;
}

.container.row {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.container.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media (max-width: 768px) {
  .container.row {
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 8rem 1rem;
  }
}

footer {
  padding: 0.5rem;
  color: var(--fuchsia050);
  text-align: center;
}

.contact {
  background-color: var(--fuchsia950);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23701a75' fill-opacity='0.19' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

.contacts {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 2rem;
  padding-bottom: 4rem;
}

@media (max-width: 1000px) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.contact-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--fuchsia500);
  color: var(--fuchsia050);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.contact-link {
  font-size: 0.85rem;
  text-decoration: none;
  color: inherit;
}

.contact-wrapper {
  background-color: var(--fuchsia900);
  color: var(--color);
  border-radius: 0.75rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  text-decoration: none;
  transition: 100ms;
}

.contact-wrapper:hover {
  transform:translateY(-4px);
  background-color: var(--color);
  color: var(--fuchsia1050);
}

@media (max-width: 1000px) {
  .contact-wrapper {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
}

.container.row .text-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container.row .text-wrapper p{
  color: var(--fuchsia100);
}

.container.row .img-wrapper {
  flex: 1;
}

.hero {
  background: rgb(74, 4, 78);
  background: radial-gradient(
    circle at bottom center,
    rgba(74, 4, 78, 1) 0%,
    rgba(23, 1, 24, 1) 70%
  );
}

.cyberPop-img {
  transition: 300ms;
  opacity: 100%;
}

.cyberPop-img:hover {
  opacity: 0;
}

.projects {
  background-color: #170118;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%234a044e' fill-opacity='0.69' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

header {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

header.scrolled {
  background-color: var(--fuchsia1050);
}

.navbar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-link {
  display: flex;
  align-items: content;
  gap: 0.5rem;
  font-size: 0.9rem;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  transition: 100ms;
}

.nav-link:hover {
  background-color: var(--fuchsia600);
  font-weight: 500;
  padding: 0.75rem 1rem;
}

.menu-btn {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background: none;
  z-index: 99;
}

.menu-btn .bar,
.menu-btn::after,
.menu-btn::before {
  content: "";
  display: block;
  width: 2rem;
  margin: 8px 0;
  height: 2px;
  background-color: var(--color);
  transition: 100ms;
}

.menu-btn.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.menu-btn.is-active::after {
  transform: rotate(45deg) translate(-8px, -6px);
}

.menu-btn.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  z-index: 98;
  background-color: #4a044e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23701a75' fill-opacity='0.19' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  padding: 6rem 2rem 0 2rem;
  box-sizing: border-box;
  transition: 300ms;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: flex;
  align-items: content;
  gap: 0.5rem;
  font-size: 0.9rem;
  text-decoration: none;
  background-color: none;
  border-radius: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  transition: 100ms;
}

.mobile-nav a:hover,
.mobile-nav a:active {
  padding: 1rem;
  background-color: var(--fuchsia700);
}

@media (min-width: 1100px) {
  .mobile-nav,
  .menu-btn {
    display: none;
  }
}

@media (max-width: 1100px) {
  .menu,
  #nav-button {
    display: none;
  }
}

.icon-md {
  color: inherit;
  height: 1.5rem;
  width: 1.5rem;
}

.icon-sm {
  color: inherit;
  height: 1rem;
  width: 1rem;
}

.button {
  text-decoration: none;
  background-color: var(--fuchsia600);
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 600;
  font-size: 0.85rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 4px 0 var(--fuchsia900);
  transition: 100ms;
}

.button:hover {
  background-color: var(--fuchsia500);
  box-shadow: 0 6px 0 var(--fuchsia900);
  transform: translateY(-2px);
}

.button:active {
  background-color: var(--fuchsia600);
  box-shadow: 0 0px 0 var(--fuchsia900);
  transform: translateY(4px);
}

.button-secondary {
  text-decoration: none;
  background-color: var(--fuchsia200);
  color: var(--fuchsia950);
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 600;
  font-size: 0.85rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 4px 0 var(--fuchsia900);
  transition: 100ms;
}

.button-secondary:hover {
  background-color: var(--fuchsia600);
  color: var(--fuchsia050);
  box-shadow: 0 6px 0 var(--fuchsia900);
  transform: translateY(-2px);
}

.button-secondary:active {
  background-color: var(--fuchsia600);
  color: var(--fuchsia050);
  box-shadow: 0 0px 0 var(--fuchsia900);
  transform: translateY(4px);
}

a {
  color: var(--fuchsia050);
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
  z-index: 99;
}

.brand img {
  width: 3rem;
  height: 3rem;
}

.brand p {
  font-size: 1.5rem;
  font-weight: 600;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  padding: 8rem 2rem 2rem;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .hero {
    text-align: left;
    justify-content: start;
    height: auto;
    padding: 0;
  }
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
}

@media (max-width: 640px) {
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

h2 {
  font-size: 3.5rem;
  line-height: 3.5rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;

  font-weight: 500;
}

p {
  line-height: 1.75rem;
}

.text-underline {
  text-decoration: underline;
}

.text-overline {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.825rem;
  letter-spacing: 0.1rem;
}

.max-width-768 {
  max-width: 768px;
}

.col-gap-0-5 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.col-gap-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.col-gap-1-5 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 640px) {
  .button-group {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
}

#home-projects {
  background-color: var(--bg-color);
  color: var(--color);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  max-width: 768px;
  margin: 0 auto;
}

.text-wrapper.about {
  text-align: left;
}

@media (max-width: 640px) {
  .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    text-align: left;
  }
}

.heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

@media (max-width: 640px) {
  .heading-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    text-align: left;
  }
}

.icon-overline.green {
  color: #84cc16;
  height: 2rem;
  width: 2rem;
  margin: 0 auto 1rem;
}

@media (max-width: 640px) {
  .icon-overline.green {
    color: #84cc16;
    height: 2rem;
    width: 2rem;
    margin: 0 0 1rem;
  }
}

.icon-overline {
  height: 2rem;
  width: 2rem;
  margin: 0 auto 1rem;
}

.icon-overline.left {
  height: 2rem;
  width: 2rem;
  margin: 0;
}

@media (max-width: 640px) {
  .icon-overline {
    height: 2rem;
    width: 2rem;
    margin: 0 0 1rem;
  }
}

.projects-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.projects-wrapper.small {
  margin: 0 auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  max-width: 1080px;
}

@media (max-width: 1000px) {
  .projects-wrapper.small {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.project-pills {
  margin-top: 1rem;
}

.project-pill {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  display: inline-block;
  white-space: nowrap;
  border-radius: 2rem;
  background-color: #d9f99d;
  font-weight: 500;
  color: #1a2e05;
}

.project-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  background-color: #fafafa;
  color: #030712;
  padding: 4rem 3rem;
  box-sizing: border-box;
  border-radius: 1rem;
  max-width: 1080px;
  margin: 2rem auto 0;
  box-shadow: 0px 2px 40px hsla(224, 71%, 4%, 0.12);
  transition: 100ms;
}

.project-card:hover {
  transform: translateY(-0.5rem);
}

.project-card.affirm {
  background: rgb(250, 250, 250);
  background: linear-gradient(
    90deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(238, 242, 255, 1) 100%
  );
}

@media (max-width: 1000px) {
  .project-card.affirm {
    background: rgb(250, 250, 250);
    background: linear-gradient(
      180deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(238, 242, 255, 1) 100%
    );
  }
}

.project-card.youversion {
  background: rgb(250, 250, 250);
  background: linear-gradient(
    90deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(254, 242, 242, 1) 100%
  );
}

@media (max-width: 1000px) {
  .project-card.youversion {
    background: rgb(250, 250, 250);
    background: linear-gradient(
      180deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(254, 242, 242, 1) 100%
    );
  }
}

.project-card.small {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  gap: 1.5rem;
  width: 100%;
  background-color: #fafafa;
  color: #030712;
  padding: 0;
  box-sizing: border-box;
  border-radius: 1rem;
  max-width: 1080px;
  margin: 2rem auto 0;
  box-shadow: 0px 2px 40px hsla(224, 71%, 4%, 0.12);
  background: #fafafa;
}

.project-title.small {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

@media (max-width: 1000px) {
  .project-card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}

@media (max-width: 640px) {
  .project-card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 3rem 2rem;
  }
}

@media (max-width: 1000px) {
  .project-card.small {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0;
  }
}

@media (max-width: 640px) {
  .project-card.small {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 0;
  }
}

.project-description {
  margin-top: -1rem;
}

.project-description-small {
  margin-top: -0.5rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.project-button.small {
  text-decoration: none;
  background-color: none;
  color: var(--bg-color);
  padding: none;
  justify-self: end;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 600;
  font-size: 0.85rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: none;
  transition: 100ms;
}

.project-button.affirm {
  text-decoration: none;
  background-color: #6366f1;
  color: #eef2ff;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 600;
  font-size: 0.85rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 4px 0 #1e1b4b;
  transition: 100ms;
}

.project-button.affirm:hover {
  background-color: #4338ca;
  box-shadow: 0 6px 0 #1e1b4b;
  transform: translateY(-2px);
}

.project-button.affirm:active {
  background-color: #4338ca;
  box-shadow: 0 0px 0 #1e1b4b;
  transform: translateY(4px);
}

.project-button.youversion {
  text-decoration: none;
  background-color: #991b1b;
  color: #fef2f2;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 600;
  font-size: 0.85rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 4px 0 #450a0a;
  transition: 100ms;
}

.project-button.youversion:hover {
  background-color: #7f1d1d;
  box-shadow: 0 6px 0 #450a0a;
  transform: translateY(-2px);
}

.project-button.youversion:active {
  background-color: #7f1d1d;
  box-shadow: 0 0px 0 #450a0a;
  transform: translateY(4px);
}

.project-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.project-left.small {
  padding: 0 1.5rem 1.5rem;
  gap: 1rem;
}

@media (max-width: 1000px) {
  .project-left.small {
    padding-top: 1.5rem;
    padding-left: 1rem;
  }
}

@media (max-width: 640px) {
  .project-left.small {
    padding: 2rem;
  }
}

.text-note {
  font-size: 0.825rem;
  margin-bottom: 1rem;
  line-height: 1rem;
}

.text-award {
  font-size: 0.825rem;
  color: #ca8a04;
  margin-bottom: 1rem;
  line-height: 1rem;
}

.text-award.color-inherit {
  font-size: 0.825rem;
  color: inherit;
  margin-bottom: 1rem;
  line-height: 1rem;
}

.project-title {
  width: 100%;
}

@media (max-width: 1000px) {
  .project-right.small {
  }
}

@media (max-width: 640px) {
  .project-right.small {
  }
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 2px 40px hsla(224, 71%, 4%, 0.12);
  border-radius: 0.5rem;
}

.project-img.small {
  height: auto;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: none;
}

@media (max-width: 1000px) {
  .project-img.small {
    height: 12rem;
    width: 24rem;
    border-radius: 0.5rem 0 0 0.5rem;
    box-shadow: none;
  }
}

@media (max-width: 640px) {
  .project-img.small {
    height: auto;
    width: 100%;
    border-radius: 0.5rem 0 0.5rem;
    box-shadow: none;
  }
}

.project-img.youversion {
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-shadow: none;
  border-radius: none;
}

.project-company {
  text-decoration: none;
}

.project-company.affirm {
  color: #4a4af4;
}

.project-company.youversion {
  color: #b91c1c;
}

.project-logo {
  margin-bottom: -0.5rem;
}

.project-logo.affirm {
  width: 6rem;
}

.project-logo.youversion {
  width: 3rem;
}

.img-wrapper {
  position: relative;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 0.5rem;
  max-width: 66%;
}

@media (max-width: 1000px) {
  .list {
    display: flex;
    flex-direction: column;
    max-width: none;
  }
}

.list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--fuchsia500);
  font-size: 0.85rem;
}

.list li svg {
  width: 0.75rem;
  height: 0.75rem;
  color: var(--fuchsia500);
}

/* PREFLIGHT */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}

html {
  scroll-behavior: smooth;
}
